@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss/preflight";
@tailwind utilities;
@tailwind utilities;
@import "tailwindcss";

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 0.95rem;
}

:root {
    --primary-color: #00654d;
    --secondary-color: #00c597;
    --primary-color-dark: hsl(166, 100%, 10%);
    --gold: #ffb800;
}
/* ----------------------------------------------------------------------------------------------- */


/* btn1: for settings, notifications, account. on hover turn gray. */
.btn1 {
  background-color: white;
  padding: 5px 10px;
  border-radius: 9999px; /* rounded-full */
  font-size: 14px;
  align-items: center;
  gap: 4px;
  transition: background-color 0.3s ease;
}
.btn1:hover {
  background-color: #d1d5db;
}